.Layout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Login {
  padding: 40px;
  border: solid #eee 2px;
  border-radius: 10px;
}

.Head {
  display: flex;
  margin-bottom: 2vh;
  justify-content: center;
}

.Head > {
  margin: 1vh;
}
