.Logout button {
  position: absolute;
  top: 3vh;
  right: 3vh;
}

.Nav {
margin-top: 15vh;
  display: flex;
  flex-direction: column;
  padding: 5em;
  align-items: center;
}

.Nav button {
  margin: 2vh;
}
