/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
} */

/* html {
  background-image: radial-gradient(
    farthest-corner at 10% 90%,
    rgba(126, 178, 195, 0.3),
    rgba(126, 178, 195, 0.7)
  );
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
}